<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="FCUBSConn" connectionString="Data Source=FCUBSTEST;Persist Security Info=True;User ID=DEVOPS;Password=devops_1;" providerName="ODP.NET, Managed Driver" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SrvUsername" value="tricorde" />
    <add key="SrvPassword" value="password$1" />
    <add key="SrvPostUsername" value="appuser" />
    <add key="SrvPostPassword" value="0sb@ppus3r" />
    <add key="ServiceModuleCred" value="CsX7SNFkkSdLGG3ipTANq8Pn34j1wXvWX0qE1pHu7a/vO1iooqUIksLvwZEVrFDxeMEmssf2u5GHunm/vCHwNLI70ZxIidhJ" />
    <add key="ServiceModule" value="PAYGATE" />
    <add key="DbSchema" value="DEVOPS.UMALL_PKG"/>
    <add key="AcctNumber" value="0042168192"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="60"></sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
    </modules>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework" />
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_UBN_SMS_Service" />
        <binding name="EnquiryServicePortBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="weblogic" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="ServiceControllersPortBinding" />
        <binding name="UBNMiddleWareWebServicePortBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="weblogic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ubniisapps:8141/AppSmsService/Administration.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UBN_SMS_Service"
        contract="ADServiceRef.UBN_SMS_Service" name="BasicHttpBinding_UBN_SMS_Service" />
      <endpoint address="http://OSBDEV1:8001/CentralOperations/AccountEnquiry"
        binding="basicHttpBinding" bindingConfiguration="EnquiryServicePortBinding"
        contract="FcubsGetService.EnquiryService" name="EnquiryServicePort" />
      <endpoint address="http://ubniisapps:8141/EmailService/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="EmailServiceReference.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://appserver-iii:9080/UnionOnlineServices/ServiceControllers"
        binding="basicHttpBinding" bindingConfiguration="ServiceControllersPortBinding"
        contract="Token.ServiceControllers" name="ServiceControllersPort" />
      <endpoint address="http://OSBDEV1:8001/CentralOperations/CentralPosting"
        binding="basicHttpBinding" bindingConfiguration="UBNMiddleWareWebServicePortBinding"
        contract="PostingService.UBNMiddleWareWebService" name="UBNMiddleWareWebServicePortBindingQSPort" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="ErrorLog.txt" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <appendToFile value="true "/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date{ISO8601} - %message%newline" />
      </layout>
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="100MB" />
    </appender>
    <root>
      <!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>