@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="four">
        <h3>Success</h3>
        <p>Your request has been successfully processed and would be delivered within five (5) working days.</p>
        <a href="@Url.Action("Index","Shop")" class="hvr-skew-backward">Back To Home</a>
    </div>
</div>

    <!--brand-->
    <div class="container">
        <div class="brand">
            <div class="col-md-3 brand-grid">
                <img src="~/Content/Template/images/ic.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 brand-grid">
                <img src="~/Content/Template/images/ic1.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 brand-grid">
                <img src="~/Content/Template/images/ic2.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 brand-grid">
                <img src="~/Content/Template/images/ic3.png" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//brand-->

<!--//content-->

<script src="~/Content/Template/js/imagezoom.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/Content/Template/js/jquery.flexslider.js"></script>
<link href="~/Content/Template/css/flexslider.css" rel="stylesheet" />






